.center{
    text-align: center;
    }
.class_one{
    text-align: right;
    margin-right: 50px;
    }
.class_two{
    margin-left: 20px;
    margin-left: 20px;
    }
.class_three{
    text-align: right;
    margin-right: 120px;
    }
.background{
    background-color: lightseagreen;
}
.font_style{
    text-align: right;
    font-style: italic;
    font-size: larger;
    color: maroon;
    background: rgba(red, green, blue, alpha);
    margin-right: 110px;
    }